* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #464646;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.nav{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.nav-link {
    color: rgb(41, 41, 41);
    text-decoration: none;
}

.logo {
    line-height: 4  0px;
    margin: 0;
}

.nav-menu{
    display: flex;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    text-transform: uppercase;  
}

.nav-menu-link{
    padding: 12px 30px;
    border-radius: 3px;
    transition: 0.5s;
}

.nav-menu-link:hover{
    background-color: #dbdbdb;
    color: rgb(0, 0, 0);
}


.container{
    margin: 30px 0px 30px 0px;
    background-color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding: 0px 0px 20px 20px;
}

.container img{
    max-width: 50%;
    height: auto;
}

.container p {
    margin-bottom: 10px;
}

img{
    width: 20%;
}

.row {
    display: flex;
}

.column{
    flex: 25%;
    padding: 5px
}

.column img{
    margin-top: 5px;
}

